@using GLSOverviewWeb.Controllers

@model List<GLSOverviewWeb.Models.car>

@{
    ViewBag.Title = "Overview";
}

<h2>@ViewBag.Title</h2>
<hr />

@*@if (LoginController.IsLoggedIn())
    {
        using (Html.BeginForm("IndexArchive", "Home", FormMethod.Get, new { @class = "form-inline pull-right" }))
        {
            <div class="form-group">
                <label class="sr-only" for="ShowDate">Show for date: </label>
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">Show for date: </div>
                    @Html.EditorFor(m => m.ShowDate,
                        new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Click to pick a date" } }
                        )
                </div>
            </div>
            <input type="submit" value="Show" class="btn btn-default btn-sm" />
        }
    }*@

@* Følgende div kan bruges, hvis Show for date ikke skal være på samme linje som Arrived-labelen: *@
@* <div class="clearfix"></div> *@

<h3>
    <span class="label label-success">
        Ready for Registration
        <img src="~/Content/home.png" />
    </span>
</h3>

<div class="input-group input-group-sm">
    <span class="input-group-addon">Filter</span>
    <input id="filter" type="text" class="form-control" placeholder="Type here...">
</div>
<h5>Select a car by clicking on the row</h5>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Licenseplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Hauler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RouteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Position)
            </th>
        </tr>
    </thead>
    <tbody class="searchable">
        @foreach (var car in Model) {
            if (car.Status == (int)StatusTypes.Arrived) {
                <tr class="clickable" onclick="document.location = '@Url.Action("ParkCarStep1", new { CarID = car.Id })'">
                    <td>
                        @Html.DisplayFor(modelItem => car.Licenseplate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => car.Hauler)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => car.RouteNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => car.Position)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />

@*<h3>
    <span class="label label-danger">
        Departed
        <img src="~/Content/out.png" />
    </span>
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Licenseplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Hauler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RouteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Position)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model) {
            if (car.Status == (int)StatusTypes.Departed) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => car.Licenseplate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => car.Hauler)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => car.RouteNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => car.Position)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@
<br />
<h3>
    <span class="label label-default">
        Parked
        <img src="~/Content/delivered.png" />
    </span>
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Licenseplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Hauler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RouteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Position)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model) {
            if (car.Status == (int)StatusTypes.Parked) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => car.Licenseplate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => car.Hauler)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => car.RouteNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => car.Position)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
