@model GLSOverviewWeb.Viewmodels.RegistrationModel

@using GLSOverviewWeb.Controllers

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>

<h3><span class="label label-success">Arrived<img src="~/Content/home.png" /></span></h3>
<div class="input-group">
    <span class="input-group-addon">Filter</span>
    <input id="filter" type="text" class="form-control" placeholder="Type here...">
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Licenseplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hauler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.PortNo)
            </th>
        </tr>
    </thead>
    <tbody class="searchable">
        @foreach (var item in Model.Cars)
        {
            if (item.Status == (int)StatusTypes.Arrived)
            {
                <tr class="clickable" onclick="document.location = '@Url.Action("employeesLogin", new {CarID = item.Id})'">
                    <td>
                        <h4> @Html.DisplayFor(modelItem => item.Licenseplate)</h4>
                    </td>
                    <td>
                        <h4> @Html.DisplayFor(modelitem => item.Hauler) </h4>
                    </td>
                    <td>
                        <h4> @Html.DisplayFor(modelItem => item.RouteNo)</h4>
                    </td>
                    <td>
                        <h4> @Html.DisplayFor(modelItem => item.PortNo)</h4>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<h3><span class="label label-danger">Departed<img src="~/Content/out.png" /></span></h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Licenseplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hauler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.PortNo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            if (item.Status == (int)StatusTypes.Departed)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Licenseplate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hauler)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteNo)
                    </td>
                    <td>
                        <h4> @Html.DisplayFor(modelItem => item.PortNo)</h4>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<h3><span class="label label-default">Parked<img src="~/Content/delivered.png" /></span></h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Licenseplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hauler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.PortNo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            if (item.Status == (int)StatusTypes.Parked)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Licenseplate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hauler)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteNo)
                    </td>
                    <td>
                        <h4> @Html.DisplayFor(modelItem => item.PortNo)</h4>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>