@model IEnumerable<GLSOverviewWeb.Models.employee>

@{
    ViewBag.Title = "Manage Employees";
}

<h2>@ViewBag.Title</h2>
<hr />

@Html.ActionLink("Back to Administration", "Index", "Admin", null, new { @class = "btn btn-default" })
@Html.ActionLink("Create New Employee", "Create", null, new { @class = "btn btn-primary active" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.EmpNo)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Action</th>
        </tr>
    </thead>

    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.EmpNo</td>
            <td>@emp.Name</td>
            <td style="white-space: nowrap">
                @Html.ActionLink("Edit", "Edit", new { id = emp.Id }, new { @class = "btn btn-primary active btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = emp.Id }, new { @class = "btn btn-danger active btn-xs" })
            </td>
        </tr>
    }
</table>
