@model IEnumerable<GLSOverviewWeb.Models.employee>

@{
    ViewBag.Title = "Manage Employees";
}

<h2>Manage Employees</h2>
<hr />

<input type="button" class="btn btn-primary active" value="New Employee" onclick="location.href='@Url.Action("Add", "AdminEmployees")'" />
<p />

<div>
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.EmpNo)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Actions</th>
        </tr>

        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.EmpNo</td>
                <td>@emp.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = emp.Id }, new { @class = "btn btn-primary active btn-xs" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = emp.Id }, new { @class = "btn btn-danger active btn-xs" })
                </td>
            </tr>
        }
    </table>
</div>

<div>
    @Html.ActionLink("Back to Administration", "Index", "Admin")
</div>