@model GLSOverviewWeb.Models.employee

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<hr/>

@using (Html.BeginForm("Index", "Login"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.EmpNo, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-11">
                @Html.EditorFor(model => model.EmpNo, new { htmlAttributes = new { @class = "form-control", @autofocus = "on", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.EmpNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-11">
                @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}