@model GLSOverviewWeb.Viewmodels.AdminModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administration page";
}
<h2>Administration page</h2>

<h3>Welcome back, @Html.DisplayFor(model => model.Employee.Name)</h3>

<ul>
    <li>
        @Html.ActionLink("Car Admin", "Index", "AdminCars")
    </li>
    <li>
        @Html.ActionLink("Employee Admin", "Index", "AdminEmployees")
    </li>
</ul>
<br/>
@if (Model.RegistrationList.Count() > 0) {
<h4><span class="label label-warning">List of Registrations with notifications</span></h4>
<table class="table table-striped">
    <tr>
        <th>@Html.Label("Route Number:")</th>
        <th>@Html.Label("License Plate:")</th>
        <th>@Html.Label("Details:")</th>
    </tr>
    @foreach (var reg in Model.RegistrationList) {
        <tr>
            <td>@reg.car.RouteNo</td>
            <td>@reg.car.Licenseplate</td>
            <td>@Html.ActionLink("View", "RegistrationDetails", new { id = reg.Id })</td>
        </tr>
    }

</table>
}
else {
    <h4><span class="label label-success">No registrations to handle</span></h4>
}