@model GLSOverviewWeb.Viewmodels.AdminModel

@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>
<p>Welcome back, @Html.DisplayFor(model => model.Employee.Name)</p>
<hr />

<a href="@Url.Action("Index", "AdminCars")" class="btn btn-primary">Manage Cars</a>
<a href="@Url.Action("Index", "AdminEmployees")" class="btn btn-primary">Manage Employees</a>
<a href="@Url.Action("Index", "AdminRegistrations")" class="btn btn-primary">Manage Registrations</a>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Show overview on specific date</a>

@*<input type="button" class="btn btn-primary active" value="Manage Cars"
       onclick="location.href='@Url.Action("Index", "AdminCars")'" />
<input type="button" class="btn btn-primary active" value="Manage Employees"
       onclick="location.href = '@Url.Action("Index", "AdminEmployees")'" />
<input type="button" class="btn btn-primary active" value="Manages Registrations"
       onclick="location.href = '@Url.Action("Index", "AdminRegistrations")'" />
<input type="button" class="btn btn-primary active" value="Show overview on specific date"
       onclick="location.href = '@Url.Action("Index", "Home")'" />*@

<br/>
<br/>
<br />

<h4><span class="label label-warning">List of Registrations with notifications</span></h4>
@if (!Model.RegistrationList.Any())
{
    <span class="label label-success">No registrations to handle</span>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.Label("Route Number")</th>
                <th>@Html.Label("License Plate")</th>
                <th>@Html.Label("Details")</th>
            </tr>
        </thead>
        @foreach (var reg in Model.RegistrationList)
        {
            <tr>
                <td>@reg.car.RouteNo</td>
                <td>@reg.car.Licenseplate</td>
                <td>@Html.ActionLink("View", "RegistrationDetails", new { id = reg.Id })</td>
            </tr>
        }

    </table>
}