@model IEnumerable<GLSOverviewWeb.Models.registration>

@{
    ViewBag.Title = "Manage Registrations";
}

<h2>@ViewBag.Title</h2>
<hr />

@Html.ActionLink("Back to Administration", "Index", "Admin", null, new { @class = "btn btn-default" })



<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.car.Licenseplate)</th>
            <th>@Html.DisplayNameFor(model => model.Position)</th>
            <th>@Html.DisplayNameFor(model => model.employee.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Comment)</th>
            <th>Comment&nbsp;OK</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.car.Licenseplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td style="text-align: center">
                @if (item.Comment == "")
                {
                    @Html.DisplayFor(modelItem => item.CommentHandled)
                }
                else
                {
                    <form method="POST" action="@Url.Action("ToggleCommentHandled", "AdminRegistrations")">
                        @Html.Hidden("id", item.Id)
                        @Html.EditorFor(modelItem => item.CommentHandled, new { htmlAttributes = new { @onclick = "this.form.submit();" } })
                    </form>
                }
            </td>
        </tr>
    }

</table>



<p>Note: Registrations are created when cars are parked on the Overview page<p />
