@model IEnumerable<GLSOverviewWeb.employee>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Employees</title>
</head>
<body>
    <h2>Administrate Employees:</h2>
    <a>
        <input class="btn btn-primary active" type="button" value="New Employee" onclick="location.href='@Url.Action("AddEmployee", "AdminEmployee")'" />
    </a>
    <br/>
    <div>
        <table class="table table-striped">
            <tr>
                <th>Employee Number:</th>
                <th>Name: </th>
                <th>Actions: </th>
            </tr>

            @foreach (var emp in Model) {
                <tr>
                    <td>@emp.EmpNo</td>
                    <td>@emp.Name</td>
                    <td>@Html.ActionLink("Edit", "EditEmployee", new { id = emp.Id }, new { @class = "btn btn-info btn-xs" }) | @Html.ActionLink("Delete", "DeleteEmployee", new { id = emp.Id }, new { @class = "btn btn-info btn-xs" })</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>


