@model GLSOverviewWeb.Models.car

@{
    ViewBag.Title = "Edit car";
}

<h2>Edit car: @Model.Licenseplate</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Licenseplate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Licenseplate)
                @Html.ValidationMessageFor(model => model.Licenseplate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hauler, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hauler)
                @Html.ValidationMessageFor(model => model.Hauler)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteNo)
                @Html.ValidationMessageFor(model => model.RouteNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PortNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PortNo)
                @Html.ValidationMessageFor(model => model.PortNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>

}
