@using GLSOverviewWeb.Controllers
@model IEnumerable<GLSOverviewWeb.Models.car>

@{
    ViewBag.Title = "Manage Cars";
}

<h2>Manage Cars</h2>
<hr />

<input type="button" class="btn btn-primary active" value="Create New Car" onclick="location.href='@Url.Action("Create", "AdminCars")'" />
<p />

<table class="table table-striped">
    <tr >
        <th>
            <h4>@Html.DisplayNameFor(model => model.Licenseplate)</h4>
        </th>
        <th>
            <h4>@Html.DisplayNameFor(model => model.Hauler)</h4>
        </th>
        <th>
            <h4>@Html.DisplayNameFor(model => model.RouteNo)</h4>
        </th>
        <th>
            <h4>@Html.DisplayNameFor(model => model.Position)</h4>
        </th>
        <th>
            <h4>Actions</h4>
        </th>
    </tr>

    @foreach (var car in Model)
    {
        <tr class="clickable">
            <td>
                @Html.DisplayFor(modelItem => car.Licenseplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Hauler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.RouteNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Position)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = car.Id}, new {@class = "btn btn-primary active btn-xs"}) |
                @Html.ActionLink("Delete", "Delete", new {id = car.Id}, new {@class = "btn btn-danger active btn-xs"})
            </td>
        </tr>
    }

</table>

<input type="button" class="btn btn-default" value="Back to Administration" onclick="location.href='@Url.Action("Index", "Admin")'" />
