@model IEnumerable<GLSOverviewWeb.Models.car>

@{
    ViewBag.Title = "Administrate cars";
}

<h2>Administrate cars</h2>

<a>
    <input class="btn btn-primary active" type="button" value="New Car" 
           onclick="location.href = '@Url.Action("Create", "AdminCars")'"/>
</a>

<table class="table table-striped">
    <tr >
        <th>
            <h4> @Html.DisplayNameFor(model => model.Licenseplate)</h4>
        </th>
        <th>
            <h4> @Html.DisplayNameFor(model => model.Hauler)</h4>
        </th>
        <th>
            <h4> @Html.DisplayNameFor(model => model.RouteNo)</h4>
        </th>
        <th>
            <h4>Actions: </h4>
        </th>
    </tr>

    @foreach (var car in Model)
    {
        <tr class="clickable">
            <td>
                @Html.DisplayFor(modelItem => car.Licenseplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Hauler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.RouteNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = car.Id}, new {@class = "btn btn-info btn-xs"}) |
                @Html.ActionLink("Delete", "Delete", new {id = car.Id}, new {@class = "btn btn-info btn-xs"})
            </td>
        </tr>
    }

</table>


